# Mini-projet IA (classification) :  
## Risques Cardiovasculaires

### 1. Data understanding (compréhension des données) :

##### 1.1 Chargement et affichage

In [3]:
import pandas as pd
#chargement
data = pd.read_csv("Cardiovascular_Diseases.csv")
#Affichage des données
data.head(10)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13672\2556967828.py:3: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Cardiovascular_Diseases.csv")

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0
5,Good,Within the past year,No,No,No,No,Yes,No,Yes,Male,60-64,183.0,154.22,46.11,No,0.0,12.0,12.0,12.0
6,Fair,Within the past year,Yes,Yes,No,No,No,No,Yes,Male,60-64,175.0,69.85,22.74,Yes,0.0,16.0,8.0,0.0
7,Good,Within the past year,Yes,No,No,No,No,No,Yes,Female,65-69,165.0,108.86,39.94,Yes,3.0,30.0,8.0,8.0
8,Fair,Within the past year,No,No,No,No,Yes,No,No,Female,65-69,163.0,72.57,27.46,Yes,0.0,12.0,12.0,4.0
9,Fair,Within the past year,No,No,No,No,No,Yes,Yes,Female,70-74,163.0,91.63,34.67,No,0.0,12.0,12.0,1.0

##### 1.2 Description

In [8]:
#volume : nombre total d'instances 308854
#dimension : nombre total des attributs 19
data.shape

(308854, 19)

In [10]:
#type et codage
data.dtypes

General_Health                   object
Checkup                          object
Exercise                         object
Heart_Disease                    object
Skin_Cancer                      object
Other_Cancer                     object
Depression                       object
Diabetes                         object
Arthritis                        object
Sex                              object
Age_Category                     object
Height_(cm)                     float64
Weight_(kg)                      object
BMI                              object
Smoking_History                  object
Alcohol_Consumption             float64
Fruit_Consumption               float64
Green_Vegetables_Consumption    float64
FriedPotato_Consumption         float64
dtype: object

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       299312 non-null  object
 2   Exercise                      299312 non-null  object
 3   Heart_Disease                 299312 non-null  object
 4   Skin_Cancer                   299312 non-null  object
 5   Other_Cancer                  299312 non-null  object
 6   Depression                    299312 non-null  object
 7   Diabetes                      299312 non-null  object
 8   Arthritis                     299312 non-null  object
 9   Sex                           299312 non-null  object
 10  Age_Category                  299312 non-null  object
 11  Height_(cm)                   299287 non-null  float64
 12  Weight_(kg)                   299311 non-null  object
 13  BMI                           299312 non-null  object
 14  Smoking_History               299312 non-null  object
 15  Alcohol_Consumption           299312 non-null  float64
 16  Fruit_Consumption             299312 non-null  float64
 17  Green_Vegetables_Consumption  299312 non-null  float64
 18  FriedPotato_Consumption       299311 non-null  float64
dtypes: float64(5), object(14)
memory usage: 44.8+ MB

In [11]:
#statistiques
data.describe(include='all')

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
count,308854,299312,299312,299312,299312,299312,299312,299312,299312,299312,299312,299287.000000,299311.00,299312.00,299312,299312.000000,299312.000000,299312.000000,299311.000000
unique,9547,5,2,2,2,2,2,2,2,2,13,NaN,872.00,5684.00,3,NaN,NaN,NaN,NaN
top,Very Good,Within the past year,Yes,No,No,No,No,No,No,Female,65-69,NaN,90.72,26.63,No,NaN,NaN,NaN,NaN
freq,107449,231520,232412,275231,270249,270415,239899,259141,202066,153867,32321,NaN,14533.00,2881.00,178100,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170.719734,NaN,NaN,NaN,5.134111,29.858245,15.110964,6.306450
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.649743,NaN,NaN,NaN,8.222629,24.885926,14.917528,8.588447
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163.000000,NaN,NaN,NaN,0.000000,12.000000,4.000000,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170.000000,NaN,NaN,NaN,1.000000,30.000000,12.000000,4.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.000000,NaN,NaN,NaN,6.000000,30.000000,20.000000,8.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241.000000,NaN,NaN,NaN,30.000000,120.000000,128.000000,128.000000